@charset "UTF-8";

/* PC , 테블릿 가로 (해상도 768px ~ 1023px)*/
/* 테블릿 세로 (해상도 768px ~ 1023px)*/
/* 모바일 가로, 테블릿 세로 (해상도 480px ~ 767px)*/
/* 모바일 가로, 테블릿 세로 (해상도 ~ 479px)*/



@media screen and (min-width:1300px) and (max-width:1700px) {
  .disign_contaner_body_con{
    width: 100%;
  }
  header >h2 {
    font-size: 27px;
  }

  #page_1_left > #mainimgwrap {
    width: 590px;
    height: 506px;

  }

  #page_1_left > #mainimgwrap > img:nth-child(7) {
    width: 34%;
    right: 25%;
    top: 45%;
    transform: translate(0, -50%);
  }


  #page_1_left > #mainimgwrap > img:nth-child(1) {
      width: 528px;
      right: 0;
      top: 40%;
      transform: translate(0, -50%);
  }

  /* 2페이지 */
  #page_2_left, #page_2_right{
        height: 81.7%;
  }
  #page_2_right_wrap > .page_2_work > li {
    font-size: 18px;
  }
  #page_2_right_wrap #page_2_icon_line_3{
    height: 262px;
  }

  #page_2_right_wrap > .page_2_work{
    grid-template-columns: repeat(1, minmax(100px,auto));
  }
  #page_2_right_wrap > .page_2_work > li {
    font-size: 18px;
  }
  #page_2_right_wrap > .page_2_work > li:nth-child(odd) {
    font-size: 15px;
  }

  /* 3페이지 */
  #page_3 {
    grid-template-rows: 43fr 57fr;
    grid-template-columns: 55% 45%;
  }
  #page_3_left_top {
    grid-area: aa;
    display: flex;
    align-items: center;
    margin: 80px 0 0 30px;
  }
  .sujin_wrap{
    width: 250px;
    height: 250px;
  }
  #page_3_left_span_1{
  margin :0px 0 0 20px;
  }
  #page_3_left_footer{
    margin: 30px 0 0 30px;
  }
  #page_3_right h3{
    font-size: 44px;
  }
  .skill_obj {
    width:17%;
    transition: all 0.5s;
    position: relative;
    float: left;
    margin: 0 75px 15px 0;
  }
  .skill_obj_before{
    top: 0%;
    left: -0%;
  }
  .skill_obj_after{
    width: 155px;
    height: 155px;
    top: 0%;
    left: -20%;
  }
  /* page 4 */
  #page_4 > #rec_1 {
    width: 95%;
    height: 360px;
    top: 14%;
    background-size: 80.7% 166%;
  }

  #page_4>#rec_1>#rec_2 {
    width: 90%;
    height: 150%;
    bottom: -60%;
  }

  #rec_3{
    width: 380px;
    height: 380px;
    left: 340px;
  }

  #page_4>#rec_1 > .rec_4_right {
        height: 288px;
  }
  .active3{
    left: 57% !important;
  }


}

/* PC , 테블릿 가로 (해상도 768px ~ 1023px)*/
@media screen and (min-width:1023px) and (max-width:1300px) {

  .disign_contaner_body_con{
    width: 100%;
  }

  .tab{
  	padding: 0 0 0 20px
  }
  .tab2{
  	padding: 0 0 0 40px
  }
  .tab3{
  	padding: 0 0 0 60px
  }
  .tab4{
  	padding: 0 0 0 80px
  }
  .tab5{
  	padding: 0 0 0 100px
  }
  header{
    grid-template-columns: 1fr;
    padding: 10px 0 10px 0;
  }
  header >h2 {
    font-size: 27px;
  }
  #page_1 {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 6fr;
  }

  #page_1_left {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 100px 0 0 0;
  }

  #page_1_left > #mainimgwrap {
    width: 640px;
    height: 376px;
    position: relative;
    display: grid;
    justify-content: center;
    align-items: center;
  }
  #page_1_left > #mainimgwrap > img:nth-child(1) {
    position: static;
    width: 470px;
    transform: translate(0, 0);
  }
  #page_1_left > #mainimgwrap > img:nth-child(2) {
    width: 49%;
    right: 24%;
    top: 12%;
  }
  #page_1_left > #mainimgwrap > img:nth-child(3) {
    width: 49%;
    right: 24%;
    top: 12%;
  }
  #page_1_left > #mainimgwrap > img:nth-child(4) {
    width: 49%;
    right: 24%;
    top: 12%;
  }
  #page_1_left > #mainimgwrap > img:nth-child(5) {
    width: 49%;
    right: 24%;
    top: 12%;
  }
  #page_1_left > #mainimgwrap > img:nth-child(6) {
    width: 49%;
    right: 24%;
    top: 12%;
  }
  #page_1_left > #mainimgwrap > img:nth-child(7) {
    width: 30%;
    right: 33%;
    top: 53%;
  }
  #page_1_right {
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }
  #page_1_right > h2.index{
    display: none;
  }
  #page_1_right > h2.reee{
    display: block;
    font-size: 33px;
    padding: 20px 0 20px 0;
  }

  #page_1_right > h1{
    padding: 0 0 0 0;
    text-align: center;

  }
  /* 2페이지 */

  #page_2 {
      padding: 100px 0 0 0;
  }

  #page_2_left{
    height: 74%;
    align-items: start;
  }

  #page_2_right {
    height: 74%;
    align-items: start;
  }
  .coding_wrap > span {
    font-size: 18px;
  }

  #page_2_left_wrap{
    height: 100%;
    box-sizing: border-box;
    padding:0
  }
  .coding_wrap{
    height: 84%;
  }
  #page_2_right_wrap {
    height: 100%;
    padding: 10px 10px 10px 10px;
    grid-template-rows: 40px auto 40px auto 40px auto;
  }
  #page_2_right_wrap > ul.page_2_Profile > li.profile_li{
    font-size: 18px;
  }
  #page_2_right_wrap > h3{
    letter-spacing: 2px;
    font-size: 25px;
  }
  #page_2_right_wrap #page_2_icon_line_3{
    height: 252px;
  }
  #page_2_right_wrap > .page_2_work{
    grid-template-columns: repeat(1, minmax(100px,auto));
  }
  #page_2_right_wrap > ul.page_2_Profile > li{
    font-size: 18px;
  }
  #page_2_right_wrap > .page_2_work > li {
    font-size: 15px;
  }
  #page_2_right_wrap > .page_2_work > li:nth-child(odd) {
    font-size: 15px;
  }
  /* 3페이지 */
  #page_3 {
    grid-template-rows: 43fr 57fr;
    grid-template-columns: 55% 45%;
  }
  #page_3_left_top {
    grid-area: aa;
    display: flex;
    align-items: center;
    margin: 80px 0 0 30px;
  }
  .sujin_wrap{
    width: 200px;
    height: 200px;
  }
  span#page_3_left_span_1 {
    margin :0px 0 0 40px;
  }
  span#page_3_left_span_1 > p{
  font-size: 20px;
  }
  span#page_3_left_span_2 {
    /* width: 85%; */
    height: 90%;
    overflow: auto;
  }
  #page_3_left_footer{
    margin: 15px 30px 15px 30px;
  }
  #page_3_right h3{
    font-size: 38px;
  }
  .skill_obj {
    /* display: flex; */
    width: 20%;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    position: relative;
    float: left;
    margin: 0 53px 15px 0;
  }
  .skill_obj_before{
    top: 0%;
    left: -0%;
    font-size: 15px;
  }
  .before_1{
    font-size: 13px;
  }
  .skill_obj_after{
    width: 150px;
    height: 150px;
    top: 0%;
    left: -20%;
  }

  /* page 4 */
  #page_4 > #rec_1{
    width: 95%;
    height: 360px;
    top: 14%;
    background-size: 100% 125%;
  }
  #page_4>#rec_1>#rec_2 {
    width: 97%;
    height: 135%;
    bottom: -50%;
  }

  #rec_3{
    width: 300px;
    height: 300px;
    left: 330px;
  }
  #page_4>#rec_1 > ul li.page_4_li{
    font-size: 44px;
    line-height: 2.5;
    transform: translateX(0);
  }
  .active3{
    left: 46% !important;
  }
  #page_4>#rec_1 > .rec_4_right > span{
    text-align: right;
  }
  /* #page_4>#rec_1 > .rec_4_right {
    height: 221px
  } */
  #page_4>#rec_1 > .rec_4_right > p{
    display: none;
  }

  #page_5{
    grid-template-columns: 70px 2fr;
  }
  .page_5_con a  p{
    font-size: 26px;
  }
  #page_5 > .page_5_left > h2 {
    font-size: 22px;
  }
}
/* PC , 테블릿 가로 (해상도 768px ~ 1023px)*/
@media screen and (min-width:770px) and (max-width:1023px) {
  html, body{
    scroll-snap-type:initial ;
  }
  .disign_contaner_body_con{
    width: 100%;
  }

  .disign_contaner_header > h2 {
    font-size: 21px;
  }

  header{
    grid-template-columns: 1fr;
    padding: 10px 0 10px 0;
  }
  header >h2 {
    font-size: 27px;
  }
  #page_1 {
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 2fr;
  }
  #page_1_left {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 100px 0 0 0;
  }
  #page_1_left > #mainimgwrap {
    width: 640px;
    height: 376px;
    position: relative;
    display: grid;
    justify-content: center;
    align-items: center;
  }
  #page_1_left > #mainimgwrap > img:nth-child(1) {
    position: static;
    width: 470px;
    transform: translate(0, 0);
  }
  #page_1_left > #mainimgwrap > img:nth-child(2) {
    width: 49%;
    right: 24%;
    top: 12%;
  }
  #page_1_left > #mainimgwrap > img:nth-child(3) {
    width: 49%;
    right: 24%;
    top: 12%;
  }
  #page_1_left > #mainimgwrap > img:nth-child(4) {
    width: 49%;
    right: 24%;
    top: 12%;
  }
  #page_1_left > #mainimgwrap > img:nth-child(5) {
    width: 49%;
    right: 24%;
    top: 12%;
  }
  #page_1_left > #mainimgwrap > img:nth-child(6) {
    width: 49%;
    right: 24%;
    top: 12%;
  }
  #page_1_left > #mainimgwrap > img:nth-child(7) {
    width: 30%;
    right: 33%;
    top: 53%;
  }
  #page_1_right {
    justify-content: start;
    align-items: center;
    flex-direction: column;

  }
  #page_1_right > h2.index{
    display: none;
  }
  #page_1_right > h2.reee{
    display: block;
    font-size: 33px;
    padding: 20px 0 20px 0;
  }
  #page_1_right > h1{
    padding: 0 0 0 0;
    text-align: center;
    font-size: 21px;

  }
  /* 2페이지 */

  #page_2 {
    grid-template-columns: 1fr;
    grid-template-rows: 522px auto;
    padding: 0;
    height: auto;
  }
  #page_2_left {
    display: grid;
    justify-items: center;
    width: 100%;
    height: 100%;
    align-items: start;
    margin: 30px 0 0 0;
  }

  #page_2_left_wrap {
    height: 95%;
    padding: 10px 0 20px 0;
  }
  .page_2_left_top{
    height: 50px;
  }
  .coding_wrap {
    height: 86%;
  }

  .coding_wrap > span {
    font-size: 14px;
  }
  #page_2_right {
    margin: 0 0 30px 0px;
    display: grid;
    justify-items: center;
    width: 100%;
    height: 104.7%;
    align-items: center;
  }
  #page_2_right_wrap{
    grid-template-columns: 60px auto;
    grid-template-rows : 40px auto 40px auto 40px auto;
    padding: 20px 0 20px 20px
  }

  #page_2_right_wrap .page_2_icon{
    width: 50px;
  }
  #page_2_right_wrap > ul.page_2_Profile > li.profile_li{
    font-size: 18px;
  }

  #page_2_right_wrap > h3{
    letter-spacing: 2px;
    font-size: 30px;
  }
  #page_2_right_wrap #page_2_icon_line_1{
    height: 99px;
  }
  #page_2_right_wrap #page_2_icon_line_2{
    height: 55px;
  }
  #page_2_right_wrap #page_2_icon_line_3{
    height: 299px;
  }
  #page_2_right_wrap > ul.page_2_Profile > li {
    font-size: 19px;
  }
  #page_2_right_wrap > .page_2_Certificate > div.c_icate_obj{
    font-size: 17px;
  }
  #page_2_right_wrap > .page_2_work{
    grid-template-columns: repeat(1, minmax(100px,auto));
  }
  #page_2_right_wrap > .page_2_work > li {
    font-size: 17px;
  }

  #page_2_right_wrap > .page_2_work > li:nth-child(odd) {
    font-size: 17px;
  }


  /* 3페이지 */
  /* 3페이지 */
  #page_3 {
    grid-template-rows: 23fr 42fr 50fr;
    grid-template-columns: 50% 45%;
    grid-template-areas: " aa aa"
      " cc cc "
      " bb bb ";
    justify-content: center;
    height: auto;
    padding: 50px 0 0 0;
  }
  #page_3_left_top {
    grid-area: aa;
    display: flex;
    /* margin: 30px 0 0 30px; */
    margin: 0;
    justify-content: flex-end;
  }
  .sujin_wrap{
    width: 200px;
    height: 200px;
  }
  #page_3_left_span_1{
  margin :0px 0 0 10px;
  }
  span#page_3_left_span_1 > p{
  font-size: 22px;
  }
  span#page_3_left_span_2 {
    width: 100%;
    height: auto;
    font-size: 17px;
    font-weight: 300;

  }
  #page_3_left_footer{
    grid-area: cc;
    display: flex;
    margin: 0;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: row;
    margin: 0px 0 0 80px;
  }
  #page_3_right > .page_3_right_tag {
    width: 100%;
    height: 100%;
    /* background: #222; */
    margin: 20px 0 0 0;
    /* border: 1px solid #fff; */
    display: flex;
    align-content: flex-start;
    justify-content: center;
    align-items: baseline;
    }
  #page_3_right h3{
    display: none;
  }
  .skill_obj {
    /* display: flex; */
    width: 12%;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    position: relative;
    float: left;
    margin: 0 45px 15px 0;
  }
  .skill_obj_before{
    top: 0%;
    left: -0%;
    font-size: 15px;
  }
  .before_1{
    display: none;
  }
  .skill_obj_after{
    width: 150%;

    top: 0%;
    left: -20%;
  }


  /* page 4 */
  #page_4 > #rec_1{
    width: 95%;
    height: 360px;
    top: 14%;
    background-size: 123.5% 111%;
  }
  #page_4>#rec_1>#rec_2 {
    width: 90%;
    height: 135%;
    bottom: -50%;
  }

  #page_4>#rec_1 > ul li.page_4_li {
      font-size: 43px;
      line-height: 1.3;
    }

    #rec_3{
    width: 300px;
    height: 300px;
    left: 30%;
  }

  #page_4>#rec_1 > .rec_4_right > p{
    display: none;
  }
  #page_4>#rec_1 > .rec_4_right > span{
    text-align: right;
  }

  #page_4>#rec_1 > .rec_4_right {
    height: 221px;
    bottom: -277px;
    width: 500px;
    height: 162px;

  }
  .active3{
    left: 23% !important;
  }

  #page_5 {
    grid-template-rows: 1fr;
    grid-template-columns: 50px 2fr;
    font-size: 31px;
  }

  #page_5 > .page_5_left {
    display: grid;
    justify-items: center;
    align-content: center;
  }
  #page_5 > .page_5_left > .page_5_con {
    background: #000;
    width: 568px;
    display: grid;
  }
  .page_5_con a p {
    padding: 15px;
    font-size: 26px;
  }
  #page_5 .page_5_left h2 {
    font-size: 22px;
  }
  .page_5_con_before {
    width: 568px;
    height: 147px;
    top: -106%;
  }
}


@media screen and (min-width:480px) and (max-width:770px) {

    body{
      scroll-snap-type: block;
    }
    .disign_contaner_body_con{
      width: 100%;
    }

    .disign_contaner_header > h2 {
      font-size: 23px;
    }

    .disign_contaner_X {
      width: 40px;
      height: 40px;
    }
    .disign_contaner {
      width: 100%;
      grid-template-rows: 60px auto 30px;
      grid-template-columns: 21px auto 54px;
      grid-template-areas:
      'nav head button'
      'nav body body'
      'nav . .';
    }

    .disign_contaner_header {
      padding: 0 0 0 4%;
    }


  header{
    grid-template-columns: 50px 1fr;
    padding: 10px 0 10px 0;
    height: 55px;
  }
  header >h2 {
    font-size: 27px;
  }
  header> ul{
    display: none;
  }

  header ul li a{
    color : #8a919f;
    font-size: 22px;
  }
  .mobile_menu{
    display: block;
  }
  .mobile_side_menu{
    display: block;
    }

  #page_1 {
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 2fr;
  }
    #page_1_left {
      padding: 55px 0 0 0;
    }

  #page_1_left > #mainimgwrap {
    width: 400px;
    height: 330px;
    padding: 30px 0 0 0;
  }
  #page_1_left > #mainimgwrap > img:nth-child(1) {
    position: static;
    width: 390px;
    transform: translate(0, 0);
  }
  #page_1_left > #mainimgwrap > img:nth-child(2) {
    width: 72%;
    right: 14%;

  }
  #page_1_left > #mainimgwrap > img:nth-child(3) {
    width: 72%;
    right: 14%;

  }
  #page_1_left > #mainimgwrap > img:nth-child(4) {
    width: 72%;
    right: 14%;

  }

  #page_1_left > #mainimgwrap > img:nth-child(5) {
    width: 72%;
    right: 14%;

  }
  #page_1_left > #mainimgwrap > img:nth-child(6) {
    width: 72%;
    right: 14%;

  }
  #page_1_left > #mainimgwrap > img:nth-child(7) {
    width: 37%;
    right: 31%;
    top: 24%;
    transform: translate(0, -0%);

  }

  #page_1_right {
    justify-content: start;
    align-items: center;
    flex-direction: column;
    padding: 0 0 0 0;
    text-align: center;
  }

  #page_1_right > h2.index{
    /* display: none; */
    display: block;
    font-size: 30px;
    padding: 0 0 20px 0; */

  }
  #page_1_right > h2.reee{
    display: none;
  }

  #page_1_right > h1{
    padding: 0 0 0 0;
    text-align: center;
    font-size: 20px;

  }
  /* 2페이지 */

  #page_2 {
    grid-template-columns: 1fr;
  }

  #page_2_left{
    display: none;
  }

  #page_2_right {
    padding: 30px 0 0px 0;
  }

  #page_2_right_wrap{
    grid-template-columns: 40px auto;
    padding: 20px 0 20px 20px
  }

  #page_2_right_wrap .page_2_icon{
    width: 35px;
  }
  #page_2_right_wrap > ul.page_2_Profile > li {
    font-size: 17px;
  }

  #page_2_right_wrap > h3{
    letter-spacing: 2px;
    font-size: 30px;
  }
  #page_2_right_wrap #page_2_icon_line_1{
    height: 90px;
  }
  #page_2_right_wrap #page_2_icon_line_3{
    height: 261px
  }
  #page_2_right_wrap > .page_2_Certificate > div.c_icate_obj{
    font-size: 17px;
  }
  #page_2_right_wrap > .page_2_work{
    grid-template-columns: repeat(1, minmax(100px,auto));
  }
  #page_2_right_wrap > .page_2_work > li {
    font-size: 17px;
  }
  #page_2_right_wrap > .page_2_work > li:nth-child(odd) {
    font-size: 16px;
  }
  #page_2_right_wrap > .page_2_work > li:nth-child(even) {
    font-size: 17px;
  }
  /* 3페이지 */

  #page_3 {
    grid-template-columns : 1fr;
    grid-template-rows : 1fr 1fr;
  }

  #page_3_left > img {
    width: 67%;
    padding: 25px;
  }
  #page_3_right > p#page_3_right_p{
    padding: 15px;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 22px;
    width: 95%;
    height: 88%;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-style: none;
  }

  #page_3_right > p::-webkit-scrollbar {
    display: none; /* 크롬, 사파리, 오페라 */
  }

  #page_3_right > .page_3_right_tag{
    /* width: 95%;
    padding: 80px 0 0 25px;
    box-sizing: border-box;
    grid-template-columns: repeat(3, minmax(50px,auto));
    text-align: center;
    justify-content: inherit; */
    display: none;
  }

  #page_3_right > .page_3_right_tag > .Skill_obj{
    font-size: 17px;
    padding: 8px;
  }
  #page_3_right > img{
    display: none;
  }

  /* page 4 */

  #page_4 > #rec_1{
    width: 95%;
    height: 360px;
    top: 14%;
    background-size: 233% 111%;
  }
  #page_4>#rec_1 > ul{
    top: 15px;
    left: 15px;
  }

  #page_4>#rec_1 > ul li.page_4_li {
    font-size: 43px;
    line-height: 1.3;
  }


  #page_4>#rec_1 > .rec_4_right {
    height: 221px;
    bottom: -277px;
    width: 194px;
    height: 162px;
  }

  #page_4>#rec_1 > .rec_4_right > span {
    display: none;
  }
  #page_4>#rec_1 > .rec_4_right > p{
    display: none;
  }
  .active3{
    left: 51% !important;
  }

  #page_4>#rec_1>#rec_2 {
    width: 90%;
    height: 155%;
    bottom: -62%;
  }

   #rec_3{
    width: 220px;
    height: 220px;
    left: 123px;
    top: 174px;

  }
  #page_4>#rec_1 > #rec_4{
    bottom: -277px;
    right: 20px;
    width: 395px;
    height: 162px;
  }

  #page_5 {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
  }
  #page_5 > .page_5_left {
    display: grid;
    justify-items: center;
    align-content: end;
    grid-template-rows: auto 22% auto;
    padding: 150px 0 0 0;
  }
  #page_5 > span {
    display: none;
  }

  .page_5_con a{
    height: 100%;
   }

  .page_5_con a p{
    display: none;
   }
   .page_5_con > a#phon_logo{
     display: grid;
   }

  #page_5 > .page_5_left > .page_5_con  {
    background: #000;
    width: 300px;
    height: 100px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }

  #page_5 .page_5_left h3 {
    display: block;
    color:#fff;
    font-family: 'Mona Sans';
    font-size: 33px;
  }
  .page_5_con_before{
    width: 300px;
    height: 100px;
    top: -150%
  }
  #page_5 > .page_5_left > h2 {
    display: none;
  }
}

@media screen and (min-width:1px) and (max-width:480px) {

  .disign_contaner_body_con{
    width: 100%;
  }

  .disign_contaner {
    width: 100%;
    grid-template-rows: 60px auto 30px;
    grid-template-columns: 21px auto 54px;
    grid-template-areas:
    'nav head button'
    'nav body body'
    'nav . .';
  }


  .disign_contaner_X {
    width: 40px;
    height: 40px;
  }

  .disign_contaner_header {
    padding: 0 0 0 4%;
  }

  .disign_contaner_header > h2{
    font-size: 23px;
  }


  header{
    grid-template-columns: 64px 1fr;
    padding: 10px 0 10px 0;
    height: 55px;
  }
  header >h2 {
    font-size: 22px;
    justify-self: start;
  }
  header> ul{
    display: none;
  }


  header ul li a{
    color : #8a919f;
    font-size: 20px;
  }
  .mobile_menu{
    display: block;
  }
  .mobile_side_menu{
    display: block;
  }

  .mobile_side_menu ul li a{
    color : #8a919f;
    font-size: 20px;
  }

  #page_1 {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 2fr;
  }
  #page_1_left > #mainimgwrap {
    width: 350px;
    height: 350px;
    position: relative;
    top: 15%;
    left: 50%;
    transform: translate(-50%, 0%);
    display: grid;
    justify-content: center;
    align-items: center;
  }
  #page_1_left > #mainimgwrap > img:nth-child(1) {
    position: static;
    width: 330px;
    transform: translate(0, 0);
  }
  #page_1_left > #mainimgwrap > img:nth-child(2) {
    width: 68%;
    right: 15%;
    top: 19%;

  }
  #page_1_left > #mainimgwrap > img:nth-child(3) {
    width: 68%;
    right: 15%;
    top: 19%;
  }
  #page_1_left > #mainimgwrap > img:nth-child(4) {
    width: 68%;
    right: 15%;
    top: 19%;
  }
  #page_1_left > #mainimgwrap > img:nth-child(5) {
    width: 68%;
    right: 15%;
    top: 19%;
  }
  #page_1_left > #mainimgwrap > img:nth-child(6) {
    width: 68%;
    right: 15%;
    top: 19%;
  }
  #page_1_left > #mainimgwrap > img:nth-child(7) {
    width: 39%;
    right: 29%;
    top: 53%;
  }
  #page_1_right {

    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  #page_1_right > h2.index{
    display: block;
    font-size: 28px;
    padding: 0 0 20px 0;

  }
  #page_1_right > h2.reee{
    display: none;
  }

  #page_1_right > h1{
    display: none;
  }
  /* 2페이지 */

  #page_2 {
    grid-template-columns: 1fr;
    /* background: #888; */
  }
  #page_2_left{
    display: none;
  }
  #page_2_right {
    padding: 0 0 0px 0;
  }
  #page_2_right_wrap{
    grid-template-columns: 40px auto;
    grid-template-rows: 40px auto 40px auto 40px;
    padding: 10px 0px 10px 10px;

  }

  #page_2_right_wrap .page_2_icon{
    width: 35px;
  }

  #page_2_right_wrap > .page_2_Certificate{
    width: 100%;
  }
  #page_2_right_wrap > ul.page_2_Profile > li {
    font-size: 16px
  }
  #page_2_right_wrap > h3{
    letter-spacing: 2px;
    font-size: 22px;
  }
  #page_2_right_wrap #page_2_icon_line_1{
    height: 82px;
  }
  #page_2_right_wrap #page_2_icon_line_2{
    height : 36px
  }
  #page_2_right_wrap #page_2_icon_line_3{
    height: 260px;
  }
  #page_2_right_wrap > .page_2_Certificate > div.c_icate_obj{
    font-size: 16px;
    padding: 5px;
  }
  #page_2_right_wrap > .page_2_work{
    grid-template-columns: repeat(1, minmax(100px,auto));
  }
  #page_2_right_wrap > .page_2_work > li {
    font-size: 16px;
  }

  #page_2_right_wrap > .page_2_work > li:nth-child(odd) {
    font-size: 13px;
  }
  #page_2_right_wrap > .page_2_work > li:nth-child(even) {
    font-size: 14px;
  }

  #page_2_right_wrap > ul.page_2_Profile > li.profile_li{
    font-size: 18px;
  }
  /* 3페이지 */

  #page_3 {
    grid-template-columns : 1fr;
    grid-template-rows: 1fr 1fr;
  }
  #page_3_left {
    display: grid;
    justify-items: center;
    justify-content: center;
    grid-template-rows: 50px auto;
    grid-template-areas:
    '.'
    'page3img';
  }
  #page_3_left > img {
    width: 65%;
    padding: 25px;
    grid-area: page3img;
  }

  #page_3_right {
    width: 100%;
    height: 75%;
  }
  #page_3_right > p#page_3_right_p{
    padding: 15px;
    box-sizing: border-box;
    font-size: 15px;
    line-height: 22px;
    width: 100%;
    height: 66%;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-style: none;
  }

  #page_3_right > p::-webkit-scrollbar {
      display: none; /* 크롬, 사파리, 오페라 */
  }



  #page_3_right > .page_3_right_tag{
    /* width: 92%;
    padding: 49px 50px 0 50px;
    box-sizing: border-box;
    grid-template-columns: repeat(3, minmax(50px,auto));
    text-align: center;
    justify-content: start;
    box-sizing: border-box; */
    display: none;
  }
  /* #page_3_right > .page_3_right_tag > .Skill_obj{
    font-size: 17px;
    padding: 8px;
  } */
  #page_3_right > img{
    display: none;
  }
  /* page 4 */
  #page_4 > #rec_1{
    width: 95%;
    height: 340px;
    top: 11%;
    background-size: 175% 80%;
  }
  #page_4>#rec_1 > ul{
    top: 5px;
    left: 15px;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
  }
  #page_4>#rec_1 > ul li.page_4_li {
      font-size: 30px;
      line-height: 1.3;
    }

  #page_4>#rec_1 > .rec_4_right > ul li.potfolio_list{
    font-size: 18px;
  }

  #page_4>#rec_1 > .rec_4_right {
    width: 300px;
  }
  #page_4>#rec_1 > .rec_4_right > p{
    display: none;
  }

  .active3{
    left: 12% !important;
  }
  .active_1 {
    -webkit-text-stroke-width: 1px !important;
  }

  .active_2 {
    font-size: 19px !important;
  }

  #page_4>#rec_1>#rec_2 {
    width: 90%;
    height: 115%;
    bottom: -28%;
  }

  #rec_3{
    width: 180px;
    height: 180px;
    left: 26%;
    top: 94px;
  }
  #page_4>#rec_1 > #rec_4{
    bottom: -140px;
    right: 20px;
    width: 395px;
    height: 162px;
  }

  #page_4>#rec_1 > #rec_4 > p{
    display: none;
  }

  #page_5 {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
  }

  #page_5 > span {
    display: none;
  }


  #page_5 > .page_5_left {
    display: grid;
    justify-items: center;
    align-content: end;
    grid-template-rows: auto 22% auto;
    padding: 150px 0 0 0;
  }
  #page_5 > .page_5_left > .page_5_con {
    background: #000;
    width: 260px;
    height: 80px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }


  .page_5_con_before{
    width: 260px;
    height: 80px;
    top: -125%;
  }

  .page_5_con a p{
    display: none;
  }
  .page_5_con a {
    height: 100%;
    grid-template-columns:auto;
  }


  #page_5 > .page_5_left > h3{
      display: block;
      color:#fff;
      font-family: 'Mona Sans';
      font-size: 33px;
    }

  #page_5 .page_5_left h2 {
    display: none;
    }

    .page_5_con > a#phon_logo{
      display: grid;
    }



}
