@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
/* font-family: 'Source Sans Pro', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans|Kanit');
/* font-family: 'Kanit', sans-serif;  */
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding');
/* font-family: 'Nanum Gothic Coding', monospace; */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap');
/* font-family: 'Noto Sans KR', sans-serif; */
@font-face {
  font-family: 'Mona Sans';
  src:
    url('../font/Mona-Sans-Light.woff2') format('woff2 supports variations'),
    url('../font/Mona-Sans-Light.woff2') format('woff2-variations'),
    url('../font/Mona-Sans-Bold.woff') format('woff2-variations'),
    url('../font/Mona-Sans-Bold.otf') format('woff2-variations'),
    url('../font/Mona-Sans-Bold.ttf') format('woff2-variations'),
    url('../font/Mona-Sans-BoldNarrow.ttf') format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
}
@font-face {
	font-family: "Menlo_Regular";
	src: url(../font/Menlo-Regular.ttf) format("truetype"), url(../font/Menlo-Regular.ttf.woff) format("woff"), url(../font/Menlo-Regular.ttf.eot) format("embedded-opentype");
}

@font-face {
	font-family: 'DXLBaB-KSCpc-EUC-H';
	src: url('../font/DXLBaB-KSCpc-EUC-H.eot');
	src: url('../font/DXLBaB-KSCpc-EUC-H.woff2') format('woff2'), url('../font/DXLBaB-KSCpc-EUC-H.woff') format('woff'), url('../font/DXLBaB-KSCpc-EUC-H.ttf') format('truetype'), url('../font/DXLBaB-KSCpc-EUC-H.svg#DXLBaB-KSCpc-EUC-H') format('svg'), url('../font/DXLBaB-KSCpc-EUC-H.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "NanumGothic";
	src: url(../font/NanumGothic.ttf) format("truetype"),
}


* {margin: 0; 	border: 0; 	padding: 0; }
ul, li {list-style: none;}
img{border: 0;}
a {text-decoration: none;}
.reee {display: none}


html, body{
  width:100%;
	height:100%;
  font-family: 'Mona Sans';
  min-height: 667px;
  min-width: 375px;
}

.mobile_menu{
  display: none;
  width: 30px;
  height: 22px;
  background-image: url("../img/index/mobile_menu.png");
  cursor: pointer;
  z-index: 99999;
  transition: left 0.2s;
  transition-timing-function: linear;
}
.mobile_side_menu {
  display: none;
  position: fixed;
  top: 0%;
  left: 120%;
  width: 100%;
  height: 100%;
  background-color: rgba(21, 25, 34, 0.9);
  transition: left 0.2s;
  transition-timing-function: linear;
}
.mobile_side_menu_on{
  left: 0%;
}

.mobile_menu_on{
  background-image: url("../img/index/mobile_menu_x.png");
}

.mobile_side_menu > ul{
  display: grid;
  box-sizing: border-box;
  padding: 100px 0 0 0%;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: 1fr;
  width: 100%;
  height: 60%;
  color: #fff;
  justify-items: center;
}

.mobile_side_menu ul li{
  place-items: center;
  width: 50%;
  text-align: center;
  padding: 3%;
  box-sizing: border-box;
}

.mobile_side_menu ul li a{
  color : #8a919f;
  font-size: 22px;
  padding: 3%;
  width: 100%;
  height: 100%;

}

.fage_1_wrap{
	width:100%;
	height:100%;
}

header{
	position: fixed;
	width: 100%;
	height: 80px;
  display: grid;
  grid-template-columns:3fr 7fr;
  place-items:center;
  z-index: 5555;
  font-family: 'Mona Sans';

}
header >h2{
  font-size: 32px;
  color: #8a919f;
  letter-spacing: -1.3px;
  z-index: 99999;
}

header ul{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width:100%;
  height:100%;
  align-items: center;
  justify-items:center;
  color : #8a919f;
}

header ul li{
  place-items:center;
}

header ul li a{
  color : #8a919f;
  font-size: 22px;
}

.fages{
  width:100%;
  height:100%;
	box-sizing:border-box;
	background: #282c34;
  display: grid
}



#fage_1{
  grid-template-rows: 1fr;
  grid-template-columns: 4fr 6fr;

}

#fage_2{
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
}

#fage_3{
  grid-template-rows: 100%;
  grid-template-columns: 40% 60%;
}

#fage_4{
  background:url("../img/index/main7.jpg");
  background-size: cover;
  place-items: center;
  padding: 80px 0 0 ;
  box-sizing: border-box;
  position: relative;
  background-repeat: repeat;
  height:100%;
}


#fage_4::before{
  content: "";
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.5;
  left: 0;
  top: 0;
  position: absolute;
}

/* 페이지1 상세 */
#fage_1_left > #mainimgwrap {
  width: 700px;
  height: 506px;
  position: relative;
  /* background: #888; */
  top: 50%;
  left: 8%;
  transform: translate(0%, -50%);
}
#fage_1_left > #mainimgwrap > img{
  position: absolute;
	transform-origin: center;
  animation-delay: 0s;
  animation-iteration-count: infinite;

}

#fage_1_left > #mainimgwrap > img:nth-child(1) {
  width: 600px;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
}


#fage_1_left > #mainimgwrap > img:nth-child(2) {
  width: 63%;
  right: 11%;
  top: 9%;
  animation-name: main_img2;
  animation-duration: 20s;
  transform-origin: center;
}
 @keyframes main_img2 {
	0% {
		transform: rotate(0deg)
	}
	100% {
		transform: rotate(360deg)
	}
}

#fage_1_left > #mainimgwrap > img:nth-child(3) {
  width: 64%;
  right: 10%;
  top: 8%;
  animation-name: main_img3;
  animation-duration: 30s;
}

@keyframes main_img3 {
	0% {
		transform-origin: center;
		transform: rotate(0deg)
	}
	100% {
		transform-origin: center;
		transform: rotate(-180deg)
	}
}
#fage_1_left > #mainimgwrap > img:nth-child(4) {
  width: 64%;
  right: 10%;
  top: 8%;
  animation-name: page1_3;
	animation-duration: 19s;
}

@keyframes page1_3 {
	0% {
		transform-origin: center;
		transform: rotate(0deg)
	}
	100% {
		transform-origin: center;
		transform: rotate(200deg)
	}
}
#fage_1_left > #mainimgwrap > img:nth-child(5) {
  width: 64%;
  right: 10%;
  top: 8%;
  animation-name: page1_4;
	animation-duration: 40s;
}

@keyframes page1_4 {
	0% {
		transform-origin: center;
		transform: rotate(0deg)
	}
	100% {
		transform-origin: center;
		transform: rotate(-270deg)
	}
}

#fage_1_left > #mainimgwrap > img:nth-child(6) {
  width: 64%;
  right: 10%;
  top: 8%;
  animation-name: page1_5;
	animation-duration: 50s;
}

@keyframes page1_5 {
	0% {
		transform-origin: center;
		transform: rotate(0deg)
	}
	100% {
		transform-origin: center;
		transform: rotate(300deg)
	}
}

#fage_1_left > #mainimgwrap > img:nth-child(7) {
  width: 34%;
  right: 25%;
  top: 52%;
  transform: translate(0, -50%);
}

#fage_1_right{
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

#fage_1_right > h2{
  color:#fff;
  padding: 0 0 0 150px;
  font-size: 49px;
  line-height: 1.3;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 300;

}
#fage_1_right > h1{
  letter-spacing: -0.7px;
  display: block;
  color: #757f8a;
  padding: 0 0 0 150px;
  font-weight: lighter;
  font-size: 19px;
  line-height: 1.5;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 100;
}

/* 페이지2 상세 */
#fage_2_left{
  display: grid;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#fage_2_left_wrap{
  width: 92%;
  height: 80%;
  border-radius: 20px;
  border: 1px solid #2f353c;
  padding: 2% 0 0 2%;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-style: none;
}

#fage_2_left_wrap::-webkit-scrollbar {
    display: none; /* 크롬, 사파리, 오페라 */
}

#fage_2_right{
  display: grid;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#fage_2_right_wrap{
  width: 92%;
  height: 80%;
  border-radius: 20px;
  border: 1px solid #2f353c;
  background: #161b22;
  box-sizing: border-box;
  padding: 50px 0 50px 20px;

  display: grid;
  grid-template-rows: 50px auto 50px auto 50px auto ;
  grid-template-columns: 50px auto;
  /* grid-template-areas:
  "Profileheader Profileheader"
  "Profilecon Profilecon"
  "Skillheader Skilleheader"
  "skillcon skillcon "
  "Workheader Workheader"; */
  align-items: center;
}
#fage_2_right_wrap .fage_2_icon{
  align-self:center;
  justify-self:center;
  width: 40px;
}
#fage_2_right_wrap .fage_2_icon_line{
  justify-self: center;
  align-self: center;
}
#fage_2_right_wrap #fage_2_icon_line_1{
  width: 3px;
  height: 102px;
}
#fage_2_right_wrap #fage_2_icon_line_2{
  width: 3px;
  height: 53px;
}
#fage_2_right_wrap #fage_2_icon_line_3{
  width: 3px;
  height: 179px;
}


#fage_2_right_wrap > h3 {
  align-self: center;
  color: #fff;
  letter-spacing: 2px;
  font-size: 27px;
  font-family: 'Mona Sans';
  font-weight: 900;
}

#fage_2_right_wrap > ul.fage_2_Profile {
  display: grid;
  grid-template-columns: repeat(2, minmax(100px,auto));
  justify-content: start;

}

#fage_2_right_wrap > ul.fage_2_Profile > li{
  color: #fff;
  font-size: 20px;
  align-self: baseline;
  font-family: 'Mona Sans';
  line-height: 1.7;
}

#fage_2_right_wrap > .fage_2_Certificate {
  width: 82%;

}

#fage_2_right_wrap > .fage_2_Certificate > div.C_icate_obj {
  color: #fff;
  letter-spacing: 1px;
  font-size: 18px;
  border: 2px solid #555;
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
  font-family: 'Mona Sans';
  display: inline;
  margin: 0 15px 0 0;
}

#fage_2_right_wrap > .fage_2_work {
  display: grid;
  grid-template-columns: repeat(2, minmax(100px,auto));
  justify-content: start;
  gap: 0 20px;
  font-family: 'Mona Sans';

}

#fage_2_right_wrap > .fage_2_work > li {
  color: #fff;
  font-size: 18px;
  padding: 0 0 5px 0;

}

/* 페이지3 상세 */
#fage_3_left{
  display: grid;
  justify-items: center;
  align-items:center;
}
#fage_3_left > img{
  width: 600px;
}
#fage_3_right{
	background-color: #161b22;
  position: relative;
}
#fage_3_right > p{
  color: #fff;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 100;
  padding: 150px 0px 0 50px;
  box-sizing: border-box;
  font-size: 20px;
  line-height: 33px;
  width: 92%;
  text-align: justify;
}


#fage_3_right > .fage_3_right_tag{
  width: 50%;
  padding: 50px 0px 0 50px;
  display: grid;
  row-gap: 15px;
  column-gap: 15px;
  grid-template-columns: repeat(5, minmax(50px,auto));
  text-align: center;
}

#fage_3_right > .fage_3_right_tag > .Skill_obj{
  color: #fff;
  letter-spacing: 1px;
  font-size: 20px;
  border : 2px solid #555;
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
  font-family: 'Mona Sans';

}

#fage_3_right > img{
  width: 400px;
  position: absolute;
  left: 60%;
  top: 50%;
}

/* 페이지4 상세 */

#fage_4 > .left_stars  {
 position: relative;
 width: 471px;
 height: 335px;
 /* background: blue; */
 margin: 0 0 0 80px;
 background-image: url("../img/index/left_stars.png");
 display:none;
}



#fage_4 .left_stars .left_stars_obj {
position:absolute;
width: 130px;
height: 50px;
/* background: rgba(255, 255, 255, 0.5); */
}

.left_stars >a> .left_stars_obj > p{
  color: #9da5b4;
  font-size: 19px;
  display: inline;
}


.left_stars a #left_stars_obj_1 {
  left: 16%;
  top: 5%;
}

.left_stars a #left_stars_obj_2 {
  top: 40%;
  right: 15%;
  text-align: right;
}
.left_stars a #left_stars_obj_3 {
  bottom: 8%;
  right: 57%;
}

#fage_4 > .page4_Portfolio {
  width: 700px;
  height: 600px;
  background: #010911;
  border: 2px solid #31323e;
}

#fage_4 > #page4_Portfolio_1 {
  position: absolute;
  left: 50%;
  top: 10%;
  display: none;
}

#fage_4 > #page4_Portfolio_2 {
  position: absolute;
  left: 22%;
  top: 65%;
}

/* 5page 시작 */

#fage_5 {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 90px 2fr;
  background-color: #000;
  font-size: 32px;
}
#fage_5 > span{
  color:#fff;
  font-family: 'Mona Sans';
  display: inline-block;
  vertical-align: middle;
  align-self:center;
  justify-Self:right;
}
#fage_5 > .fage_5_left{
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-rows: auto 12% auto;
}

#fage_5 > .fage_5_left > .fage_5_con{
  background: #000;
  border: 2px solid #fff;
  width: 715px;
  height: 131px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 100px 1fr;
  position: relative;
  z-index: 990;
}
.fage_5_con > img {
  width: 50px;
  align-self: center;
  justify-Self:center;
}

.fage_5_con  a{
  display: block;
  color:#fff;
  align-self: center;
  font-family: 'Mona Sans';
}

.fage_5_con  a p{
  display: block;
  color:#fff;
  align-self: center;
  font-family: 'Mona Sans';
}

#fage_5 > .fage_5_left > h3{
  display: none;
}

#fage_5 > .fage_5_left > h2{
  display: block;
  color: #fff;
  align-self: center;
  font-family: 'Mona Sans';
  font-size: 28px;
  font-weight: 100;
  text-align: center;
}



.fage_5_con_before{
  position: relative;
  top: -83%;
  left: -5%;
  width: 715px;
  height: 131px;
  background: url(../img/index/fage_5_con_after.png);
}
