@charset "UTF-8";

* {margin: 0; 	border: 0; 	padding: 0; }
ul, li {list-style: none;}
img{border: 0;}
a {text-decoration: none;}


body{
  display:grid;
  grid-template-rows: 50px 150px 500px auto;
  grid-template-columns: auto 200px 880px 200px auto;
  justify-items: center;
  grid-template-areas:
  'head_bar head_bar head_bar head_bar head_bar'
  '. header header header .'
  'slide slide slide slide slide'
  'sale1 sale1 sale1 sale1 sale1'
  'sale2 sale2 sale2 sale2 sale2'
  'photo_sale photo_sale photo_sale photo_sale photo_sale'
  'ranking ranking ranking ranking ranking'
  'benefit benefit benefit benefit benefit'
  'active_sale active_sale active_sale active_sale active_sale'
  'footer footer footer footer footer';
}

.head_bar{
  background:  #000;
  height: 50px;
  width: 100%;
  grid-area: head_bar;
}

header{
  width: 1280px;
  min-width: 1280px;
  background: red;
  grid-area: header;
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  flex-direction: column;
}

.header_top, .header_bottom{
  width: 100%;
  height: 50%;
  box-sizing: border-box;
  border: 1px solid #444;
  display: flex;
  justify-content: space-between;


}

.header_left{
  width: 200px;
  height: 100%;
  background: #333;
  box-sizing: border-box;
  border: 1px solid #444;
}
.header_center{
  width: 500px;
  height: 100%;
  background: #111;
  box-sizing: border-box;
  border: 1px solid #444;
}
.header_right{
  width: 200px;
  height: 100%;
  background: #222;
  box-sizing: border-box;
  border: 1px solid #444;
}

section{
  margin: 50px 0 50px 0;
}


#slide{
  background: #555;
  width: 100%;
  grid-area: slide;
  margin: 0 0 50px 0;
}

.slide_page_number {
  width: 156px;
  height: 50px;
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 67%;
  left: 20%;
}

section.sale{
  width: 1280px;
  min-width: 1280px;
  height: 500px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

section#mascara{
  background-color: #999;
  grid-area: sale1;
}
section#season{
  background-color: #888;
  grid-area: sale2;
}

.sale_top{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.title_1{
  display: block;
  width: 80%;
  display: block;
  border: 1px solid #fff;
  box-sizing: border-box;
}
.more{
  height: 40px;
  width: 100px;
}

.sale_con{
  width: 25%;
  height: 92%;
  border: 1px solid #fff;
  box-sizing: border-box;
}

#photo_sale{
  background-color: #777;
  grid-area: photo_sale;
  width: 1280px;
  min-width: 1280px;
  height: 500px;
}

#ranking{
  background-color: #555;
  grid-area: ranking;
  width: 1280px;
  min-width: 1280px;
  height: 500px;
}

#benefit{
  background-color: #444;
  grid-area: benefit;
  width: 1280px;
  min-width: 1280px;
  height: 500px;

}

#active_sale{
  background-color: red;
  grid-area: active_sale;
  width: 1280px;
  min-width: 1280px;
  height: 500px;
}

footer{
  background-color: #555;
  grid-area: footer;
  width: 1280px;
  min-width: 1280px;
  height: 500px;
}


/* head_bar 시작 */
.head_bar > h5 {
  display: block;
  height: 100%;
  background-color: #777;
  margin: 0 auto;
}
